
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: Montserrat;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

form {
  width: 65%;
  margin: 10% auto 5% auto;
}

Button {
  padding-bottom: 500px;
}

.checkbox {
  margin-left: 5%;
}

.control-label {
  font-size: 20px;
  margin: 5% 0 2% 0;
}

.day-column {
  margin-right: 30px;
}

.day-column checkbox {
  max-width: 150px;
}

.form-group {
  text-align: left;
}

.program {
  display: flex;
  justify-content: center;
}

.hackit {
  height: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #b7337a;
  color: white;
  box-shadow: 0px 1px 6px 1px grey;
}

.footer {
  background-color: #b7337a;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 1px 6px 1px grey;

}

.complete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10%;
  border: 1px solid black;
  border-radius: 5px;
  width: 50%;
  padding: 50px;
  max-width: 800px;
}

.complete h2 {
  line-height: 150%;
  font-weight: bolder;
}

.complete h3 {
  line-height: 150%;
}

.header img {
  margin: 3vh;
  height: 8vh;
}

.header h1 {
  margin: 3vw;
  font-size: 3em;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
