.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
} */
*{
  font-family: Montserrat;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b7337a;
  color: white;
  box-shadow: 0px 1px 6px 1px grey;
}

.complete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 200px;
  border: 1px solid black;
  border-radius: 5px;
  width: 400px;
  height: 200px;
  padding: 20px;
}

.header img {
  margin: 3vw;
  height: 10vh;
}

.header h1 {
  margin: 3vw;
  font-size: 6vw;
}

.App-link {
  color: #61dafb;
}

.to-do-list {
  max-width: 850px;
  margin: 40px auto;
  text-align: left;
}

.to-do-list li {
  margin: 8px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
