body {
  margin:0;
  padding:14px;
}
h2 {
  color: #13ad34;
  font-family:"Roboto", arial, sans-serif;
  margin: 0;
}

h3 {
  color: #e89a35;
  font-family:"Roboto", arial, sans-serif;
    display: inline-block;
  margin: 0;
}

p {
  font-family:"Helvetica Neue";
}

.topnav {
  overflow: hidden;
  background-color: #fff;
  margin-bottom:10px;
}

.topnav a {
  float: left;
  font-family:"Roboto", arial, sans-serif;
  display: block;
  color: #13ad34;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #ffffff;
  color: black;
}

.topnav .icon {
  display: none;
}
.navlogo {
  width:40%;
}
.communityPost {
    border: 1px solid #e5e5e5;
    padding:10px;
    margin-bottom:10px;
}

.submit-btn {
  display:inline-block;
  border: 1px solid #e89a35;
  color: #e89a35;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    margin-left:114px;
}
.postDate {
    color:cadetblue;
    font-size:14px;
}
.postTitle {
    font-weight: 400;
    font-size:18px;
    color:#e89a35;
}

img.mypic {
  max-width: 350px;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}